

.passwordField {
    position: relative;
}

.passwordToggleButton {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgb(0, 0, 0); /* Adjust color as needed */
    cursor: pointer;
}

.resetButton {
    background-color: red;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Gupter', serif;
}
.passwordField:hover .passwordToggleButton {
    opacity: 1; /* Show button on hover */
}



.passwordField:hover .passwordToggleButton {
    opacity: 1; /* Show button on hover */
}
/* Password field styles */
.passwordField {
    position: relative;
  }
  
  /* Password validation error message styling */
  .errorText {
    color: rgb(95, 11, 11);   /* Change color to red */
    font-size: 16px;  /* Set the font size */
    margin-top: 5px;  /* Add some space above the error message */
    font-weight: 400;  /* Make the text a bit bolder */
  }